/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
  background: black;
  color: white;
  font-family: 'Ruda', sans-serif;
}
button, p {
  font-family: 'Ruda', sans-serif;
}
canvas {
  display: block;
  vertical-align: bottom;
  position: fixed;
  top:0;
  left:0;
}

/* ---- particles.js container ---- */
#particles-js, #root {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
#root {
  z-index: 999;
}
#particles-js {
  z-index: -100;
  position: fixed;
  top: 0;
  left: 0;

}